.button{
  font-family: "Helvetica";
  font-size: 50px;
  border-radius: 5px;
  padding: 1em 3em;
  text-decoration: none;
  color: white;
  background: $color-green;
  vertical-align: middle;
  text-transform: uppercase;
  display: block;
}